
    body{
       font-Family:Helmet, Freesans, Helvetica, Arial, sans-serif;
       background: #f7f7f6;
    }
    .main{
        display: flex;
        /* justify-content: space-between; */
        margin-left: 90px;
    }
    .logo{
        background: #b80101;
        display: flex;
        gap: 10px;
        padding-left: 100px;
        margin: 0%;
    }
    .logo h1{
        background: white;
        color: #b80101;
    }
    .logo h2{
        color: azure;
    }
    nav ul{
        display: flex;
        list-style: none;
        gap: 10px;
        box-shadow: 1px 0.9px rgba(0, 0, 0, 0.151);
        padding-left: 100px;
    }
    nav ul li a{
        color: black;
        text-decoration: none;
        font-size: larger;
    }
    nav ul li a:hover{
        border-bottom: #b80101 solid 3px;
    }
    .left{
        width: 50%;
    }
    .left img{
        width: 100%;
    }
    .left a{
        display: flex;
    }
    .left a img{
        width: 40%;
        height: 50%;
    }
    .akhris a h2{
        color: #000000a2;
        padding: 1px 20px;
        font-size: large;
    }
    .akhris a{
        text-decoration: none;
        padding-bottom: 10px;

    }
    .akhris a:hover{
        text-decoration: underline;
    }
    .left ol{
        display: flex;
    }
    .left ol li a{
        color: #000;
        text-decoration: none;
        padding: 20px;
    }
    .left ol li a:hover{
        text-decoration: underline;
    }
    .right{
        width: 50%;
        margin-left: 60px;
    }
    .right a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.685);
    }
    .right a h3{
        background: #fefffe;
        padding: 15px;
        border-radius: 5px;
        width: 50%;
    }
    .right a span{
        color: rgba(0, 0, 0, 0.516);
        padding: 5px;
        font-size: small;
    }
    .right a img{
        width: 60%;
    }
    .right a:hover{
        text-decoration: underline;
    }
    footer {
        background: #222222;
        box-shadow: 1px 0.1px white;
    }
    footer a{
        color:white;
        text-decoration: none;
        margin: 20px;
    }
    footer .link{
        display: flex;
    }
    footer .lindanbe{
        display: flex;
    }
    footer a:hover{
        text-decoration: underline;
    }
